<% provide(:title, 'About Us') %>
<div class="row">
		<div class = "span12">
			<h1>About Us</h1>
		</div>
	</div>
	<div class="row">
		<div class = "span12">
			<h2>What is Mandarin Chinese Lessons 101?</h2>
			<p>MLC101 is a revolutionary way to learn Mandarin Chinese. We believe that the way to learn a language is by speaking it. However, you'll never learn how to speak a language in a classroom, from a textbook, or even from an online program like MLC101.
			Anyway who says that you can is probably uninformed, or trying to sell you an overpriced language course. What we can do here with our online program is give you a basis for speaking. Hence 101 - introductory.
			If you show up in Shanghai or Taipei without any lessons whatsoever, you'll be in over your head. So get a basis. Learn enough here so that you can function, tell some stories, and make some friends.
			Then when you arrive in China, Singapore, or wherever else you're headed, you'll already be partway there. But don't just take my word for it. Check out our first couple of lessons totally free of charge. 
			You don't even have to put in your email address. If you like what you see there and you want to continue with our program, then you can buy the rest of the program for $9.95. 
			It may seem expensive for website access, but consider it in perspective. That's considerably lower than you would pay for a 60-minute chinese lesson, and about 10% of the price you would
			pay for a introductory Mandarin college textbook.</p></br>
		</div>
	</div>
	<div class="row">
		<div class = "span12">
			<h1>Frequently Asked Questions</h1>
		</div>
	</div>
	<div class="row">
		<div class = "span12">
			<h2>What makes the MLC101 system the best way to learn Chinese?</h2>
			
			<p><b>Sentence-Based Learning</b></p>
			<p>Classroom language learning focuses on grammar rules and vocabulary. Which is great if you need to take a test, but not so great if you actually want to learn to speak the language. Our unique system focuses instead on sentences, bringing in grammar and new vocabulary as you need to learn them.</p>
			
			<p><b>Perfect Pronunciation</b></p>
			</p>Every single word and sentence in our course has been recorded by a native speaker, so you'll know exactly how it should sound when you say it. You can even choose which gender you would prefer to imitate!</p>
			
			<p><b>Contextual Learning</b></p>
			<p>Our lessons are broken up into semantic, context-driven modules. So you'll know exactly what to say at the bank, at dinner, and to the cute girl or guy sitting at the end of the bar.</p>
			
			<p><b>Effective Vocabulary Improvement</b></p>
			<p>No more flashcards! Because you're learning everything in context, you won't need to study vocabulary. We'll give you the tools you need to incorporate new words into your daily vocabulary as soon as you learn them, cementing them for good.</p>
			</br>
			<p>Find out for yourself how MLC101 is the <i> most effective way to learn.</i> Start today with our <%= link_to "free introductory lessons!", lessons_path%></p>
		</div>
	</div>
