<div class="center hero-unit">
  <h1>Welcome to MCL 101!</h1>

  <h2>
    This is where the magic happens. Sign up (its free!) for a look at the most advanced
	language learning system every built!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "What do we do?", about_path, class: "btn btn-large btn-primary" %>
</div>

